body{
  background-image: linear-gradient(#99c2ff,#3385ff,#0066ff);
  font-family: Georgia;
}

button{
  background-color: #e7e7e7;
  border-radius: 12px;
  font-family: Times;
}

.topImg{
  margin: 20px;
  padding-top: 10px;
  margin-left: 100px;
}

form{
  margin-left: 20px;
}

h2{
  font-family: cursive;
  margin: 20px;
}
